<ion-view view-title="Configuración">

  <ion-content>
	
	<div ng-hide="agregandoVehiculo">
		<form name="clienteForm">
			<div class="list list-inset" ng-if="!param" >
			  <h2 class="title">Cliente</h2>
			  <label class="item item-input item-stacked-label">
			  	<span class="input-label">Nombre completo</span>
			    <input type="text" name="nombre" ng-model="cliente.fields.Nombre" ng-pattern="nameRegex" required>
			    <span STYLE="color: red; font-size: 10pt" ng-show="clienteForm.nombre.$error.pattern">* Nombre inválido. Ej: Oscar Rojas *</span>
			  </label>
			  <label class="item item-input item-stacked-label">
			  	<span class="input-label">Email</span>
			    <input type="email" name="email" ng-model="cliente.fields.Email" required>
			    <span STYLE="color: red; font-size: 10pt" ng-show="clienteForm.email.$invalid">* Email inválido. Ej: oscar@yahoo.com *</span>
			  </label>
			  <label class="item item-input item-stacked-label">
			  	<span class="input-label">Fecha de Nacimiento</span>
			    <input type="date" ng-model="cliente.fields.FechaNacimiento" required>
			  </label>
			  <label class="item item-input item-stacked-label">
			  	<span class="input-label">Teléfono</span>
			    <input type="tel" name="telefono" ng-model="cliente.fields.Telefono" ng-pattern="telRegex" required>
			    <span STYLE="color: red; font-size: 10pt" ng-show="clienteForm.telefono.$error.pattern">* Teléfono inválido. Ej: 81234567 *</span>
			</div>
			<div class = "padding" ng-if=" agregandoCliente ">
				<button class="button button-block button-positive" ng-disabled="clienteForm.$invalid" ng-click="add()">
				  Agregar Cliente
				</button>
			</div>
			<div class = "padding" ng-if=" !agregandoCliente ">
				<button class="button button-block button-positive" ng-disabled="clienteForm.$invalid" ng-click="editar()">
				  Guardar Cliente
				</button>
			</div>
		</form>
	</div>

	<!-- Lista de Vehículos -->
	<div ng-if="mostrarListaVehiculos">
		<h2 class="title">Vehículos</h2>
		<div class="row header">
		  <div class="col">Marca</div>
		  <div class="col">Modelo</div>
		  <div class="col">Año</div>
		  <div class="col">Placa</div>
		</div>
		<div class="row" ng-repeat="vehiculo in vehiculos">
		  <div class="col">{{vehiculo.fields.Marca}}</div>
		  <div class="col">{{vehiculo.fields.Modelo}}</div>
		  <div class="col">{{vehiculo.fields.Anno}}</div>
		  <div class="col">{{vehiculo.fields.Placa}}</div>
		</div>
	</div>
	<div class = "padding" ng-if="mostrarListaVehiculos">
		<button class="button button-block button-positive" ng-click="iniciarAgregarVehiculo()">
		  Agregar Vehículos
		</button>
	</div>
	
	<!-- Agregar Vehículo -->
	<div class="list list-inset" ng-show="agregandoVehiculo">
		<form name="vehiculoForm">
			<h2 class="title">Agregar Vehículo</h2>
		  	<label class="item item-input item-stacked-label">
		  		<span class="input-label">Marca:</span>
		    	<input type="text" name="marca" ng-minlength="2" ng-model="nuevoVehiculo.Marca" required>
		    	<span STYLE="color: red; font-size: 10pt" ng-show="vehiculoForm.marca.$error.$invalid">* Marca inválida. Mínimo 2 caracteres *</span>
		  	</label>
		  	<label class="item item-input item-stacked-label">
		  		<span class="input-label">Modelo:</span>
		    	<input type="text" name="modelo" ng-minlength="1" ng-model="nuevoVehiculo.Modelo" required>
		    	<span STYLE="color: red; font-size: 10pt" ng-show="vehiculoForm.modelo.$error.$invalid">* Modelo inválido. Mínimo 2 caracteres *</span>
		  	</label>
		  	<label class="item item-input item-stacked-label">
		  		<span class="input-label">Año:</span>
		    	<input type="number" name="anho" ng-minlength="4" ng-model="nuevoVehiculo.Anno" required>
		    	<span STYLE="color: red; font-size: 10pt" ng-show="vehiculoForm.anho.$error.$invalid">* Año inválido. Ej: 2012 *</span>
		  	</label>
		  	<label class="item item-input item-stacked-label">
		  		<span class="input-label">Placa:</span>
		    	<input type="text" name="placa" ng-minlength="1" ng-model="nuevoVehiculo.Placa" required>
		    	<span STYLE="color: red; font-size: 10pt" ng-show="vehiculoForm.placa.$error.$invalid">* Placa inválida. Mínimo 1 caracter *</span>
		  	</label>
	  	</form>
	</div>
  	<div class = "padding" ng-show="agregandoVehiculo">
		<button class="button button-block button-positive" ng-disabled="vehiculoForm.$invalid" ng-click="addVehiculo()">
		  Guardar Vehículo
		</button>
	</div>
  </ion-content>

</ion-view>
