<ion-view view-title="Citas Creadas">
  <ion-content>
    <ion-list>
          <div class="row header">
            <div class="col">Fecha y Hora</div>
            <div class="col">Servicio</div>
            <div class="col">Vehículo</div>
          </div>
          <div class="row" ng-repeat="cita in citas" ng-click="editarCita(cita)" href="#/newpage">
            <div class="col">{{cita.Fecha | date : 'dd/MM/yyyy - h:mma'}}</div>
            <div class="col">{{cita.Tipo[0]}}</div>
            <div class="col">{{cita.DetalleVehiculo[0]}}</div>
          </div>
    </ion-list>
  </ion-content>
  <ion-footer-bar class="bar-stable">
    <h1 class="title">Multiservicios La Margoth - Tel: 2556-8315</h1>
  </ion-footer-bar>
</ion-view>
