<ion-view view-title="Agendar Cita">
  <ion-content class="padding" ng-show="isContenidoCargado">
    <div class="item">Cliente: {{cliente.fields.Nombre}}</div>
    <form ng-submit="agregarCita()">
    <div>
      <label class="item item-input item-select">
        <div class="input-label">Vehículo</div>
        <select ng-options="vehiculo as vehiculo.fields.Vehiculo for vehiculo in listaVehiculos" 
                  ng-model="citaNueva.Vehiculo"></select>
      </label>
    </div>
    <div>
      <label class="item item-input item-select">
        <div class="input-label">Tipo de Servicio</div>
        <select ng-options="servicio.fields.Nombre for servicio in servicios" ng-model="serviceSelected" ng-change="servicioSelected(serviceSelected)">
            {{servicio.fields.Nombre}}</select>
      </label>
    </div>
    <div>
      <label class="item item-input">
        <textarea placeholder="Comentarios" ng-model="citaNueva.Comentarios"></textarea>
      </label>
    </div>
    <div>
      <label class="item item-input-inset">
        <div class="input-label">Fecha</div>
        <input type="date" required type="date" ng-model="citaNueva.Fecha" ng-change="cambioFecha(citaNueva.Fecha)">
      </label>
    </div>
    <div>
      <label class="item item-input item-select">
        <div class="input-label">Hora</div>
        <select ng-model="horaNueva" ng-options="hora.hora for hora in horas" ng-change="horaSelected(horaNueva)">
        </select>
        <!-- <select ng-model="horaNueva">
          <option ng-repeat="hora in horas" ng-selected="HoraActual===hora.hora" ng-show="hora.disponible" value="{{hora.hora}}" ng-change="setSelected(horaNueva)">{{hora.hora}}</option>
        </select> -->
      </label>
    </div>
      <button class="button button-block button-positive" type="submit">
        Guardar
      </button>
    </form>
  </ion-content>
</ion-view>
