  <ion-tabs class="tabs-striped tabs-icon-top tabs-color-active-positive">

    <ion-tab title="Agendar Cita" icon-off="icon ion-calendar" icon-on="icon ion-calendar" href="#/tab/cita/crear">
      <ion-nav-view name="tab-cita-crear"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Inicio" icon-off="icon ion-android-car" icon-on="icon ion-android-car" href="#/tab/inicio">
      <ion-nav-view name="tab-inicio"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Configuración" icon-off="ion-ios-gear-outline" icon-on="ion-ios-gear" href="#/tab/configuracion">
      <ion-nav-view name="tab-configuracion"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Agendar Cita" icon-off="icon ion-calendar" icon-on="icon ion-calendar" href="#/tab/cita/editar" hidden="true">
      <ion-nav-view name="tab-cita-editar"></ion-nav-view>
    </ion-tab>

  </ion-tabs>
